.navbar{
    padding: 10px 0;
   justify-content: space-between;
   display: flex;
}
.navbar ul{
 margin: 0;
 padding: 0;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{

    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}
.search form{
    display: flex;
    margin: 0 10px;
   
}
.searchInput:focus{
    outline: none;
}
.searchInput{
    border:0;
    width: 0;
    transition: width 0.1s ease-in;
}
.searchInput.active{
    width: 150px;
}
.searchIcon{
    cursor: pointer;
}